.header {
  text-align: center;
  font-size: 30px;
  color: blue;
  font-family: sans-serif;
}
.personal {
  font-family: sans-serif;
  color: red;
}
p {
  font-family: sans-serif;
  font-style: oblique;
}
h2 {
  text-align: center;
  font-weight: bold;
}
.skills {
  font-family: sans-serif;
  color: green;
}
.job {
  font-family: sans-serif;
  color: purple;
  font-style: italic;
}
img {
  float: inherit;
}
.test-box {
  border: 2.5px solid black;
  padding: 6px;
}
