.header {
  text-align: center;
  font-size: 30px;
  color: blue;
  font-family: sans-serif;
}
.personal {
  font-family: sans-serif;
  color: red;
}
p {
  font-family: sans-serif;
  font-style: oblique;
}
